dokumenty/dan_z_prijmov2015/dpfoa2015/dpfo_a2015.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Riadne, opravne a dodatocne danove priznanie k dani z prijmov fyzickej osoby, typ A (DPFO-2015-A) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>DPFO-A-2015</xsd:documentation>
	</xsd:annotation>
	<!-- prazdny retazec -->
	<xsd:simpleType name="emptyStr">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- nepovinne cele cislo -->
	<xsd:simpleType name="optInt">
		<xsd:union memberTypes="xsd:integer emptyStr"/>
	</xsd:simpleType>
	<!-- nepovinne desatinne cislo -->
	<xsd:simpleType name="optDec">
		<xsd:union memberTypes="decimalWithTwoDec emptyStr"/>
	</xsd:simpleType>
	<!-- cislo tvaru N (12.2) -->
	<xsd:simpleType name="decimalWithTwoDec">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- povinna boolovska hodnota 0 alebo 1 -->
	<xsd:simpleType name="only_0_1">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="1"/>
			<xsd:pattern value="[0-1]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- datum v hlavickovej casti -->
	<xsd:complexType name="hlavickaOptDate">
		<xsd:sequence>
			<xsd:element name="den" type="xsd:string"/>
			<xsd:element name="mesiac" type="xsd:string"/>
			<xsd:element name="rok" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- datum v telovej casti -->
	<xsd:complexType name="teloOptDate">
		<xsd:sequence>
			<xsd:element name="den" type="xsd:string"/>
			<xsd:element name="mesiac" type="xsd:string"/>
			<xsd:element name="rok" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- NEpovinny datum v jednom poli (v celku) -->
	<xsd:simpleType name="oneFieldDate">
		<xsd:union memberTypes="date emptyStr"/>
	</xsd:simpleType>
	<!-- povinny datum v jednom poli (v celku) -->
	<xsd:simpleType name="date">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(((([0])?[1-9])|([1-2][0-9])|([3][0]))[.]((([0])?[13-9])|([1][0-2]))[.]([0-9][0-9][0-9][0-9]))"/>
			<xsd:pattern value="([3][1][.]((([0])?[13578])|([1][02]))[.]([0-9][0-9][0-9][0-9]))"/>
			<xsd:pattern value="(((([0])?[1-9])|([1][0-9])|([2][0-8]))[.]([0])?[2][.]([0-9][0-9][0-9][0-9]))"/>
			<xsd:pattern value="([2][9][.]([0])?[2])[.][0-9][0-9][13579][26]"/>
			<xsd:pattern value="([2][9][.]([0])?[2])[.][0-9][0-9][02468][048]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- informacie o manzelke/manzelovi -->
	<xsd:complexType name="manzel">
		<xsd:sequence>
			<xsd:element name="priezviskoMeno" type="xsd:string"/>
			<xsd:element name="rodneCislo" type="optInt"/>
			<xsd:element name="vlastnePrijmy" type="optDec"/>
			<xsd:element name="pocetMesiacov" type="optInt"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- informacie o dietati -->
	<xsd:complexType name="dieta">
		<xsd:sequence>
			<xsd:element name="priezviskoMeno" type="xsd:string"/>
			<xsd:element name="rodneCislo" type="optInt"/>
			<xsd:element name="m00" type="only_0_1"/>
			<xsd:element name="m01" type="only_0_1"/>
			<xsd:element name="m02" type="only_0_1"/>
			<xsd:element name="m03" type="only_0_1"/>
			<xsd:element name="m04" type="only_0_1"/>
			<xsd:element name="m05" type="only_0_1"/>
			<xsd:element name="m06" type="only_0_1"/>
			<xsd:element name="m07" type="only_0_1"/>
			<xsd:element name="m08" type="only_0_1"/>
			<xsd:element name="m09" type="only_0_1"/>
			<xsd:element name="m10" type="only_0_1"/>
			<xsd:element name="m11" type="only_0_1"/>
			<xsd:element name="m12" type="only_0_1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- sposob platby -->
	<xsd:complexType name="sposobPlatby">
		<xsd:sequence>
			<xsd:element name="poukazka" type="only_0_1"/>
			<xsd:element name="ucet" type="only_0_1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- bankove spojenie -->
	<xsd:complexType name="bankovyUcetType">
		<xsd:sequence>
			<xsd:element name="IBAN" type="xsd:string"/>
			<xsd:element name="predcislieUctu" type="optInt"/>
			<xsd:element name="cisloUctu" type="optInt"/>
			<xsd:element name="kodBanky" type="optInt"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- udajeOprijmoch - osobitne zaznamy -->
	<xsd:complexType name="udajeOprijmoch">
		<xsd:sequence>
			<xsd:element name="kodStatu" type="xsd:string"/>
			<xsd:element name="prijmy" type="optDec"/>
			<xsd:element name="vydavky" type="optDec"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- korenovy element dokumentu -->
	<xsd:element name="dokument">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="hlavicka" type="hlavicka"/>
				<xsd:element name="telo" type="telo"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- hlavicka dokumentu -->
	<xsd:complexType name="hlavicka">
		<xsd:sequence>
			<xsd:element name="rodneCislo" type="xsd:string"/>
			<xsd:element name="datumNarodenia" type="xsd:string"/>
			<xsd:element name="typDP">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rdp" type="only_0_1"/>
						<xsd:element name="odp" type="only_0_1"/>
						<xsd:element name="ddp" type="only_0_1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="zdanovacieObdobie">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rok" type="xsd:string"/>
						<xsd:element name="datumDDP" type="oneFieldDate"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="priezvisko" type="xsd:string"/>
			<xsd:element name="meno" type="xsd:string"/>
			<xsd:element name="titul" type="xsd:string"/>
			<xsd:element name="titulZa" type="xsd:string"/>
			<xsd:element name="adresaTrvPobytu">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ulica" type="xsd:string"/>
						<xsd:element name="cislo" type="xsd:string"/>
						<xsd:element name="psc" type="xsd:string"/>
						<xsd:element name="obec" type="xsd:string"/>
						<xsd:element name="stat" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="nerezident" type="only_0_1"/>
			<xsd:element name="adresaObvPobytu">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ulica" type="xsd:string"/>
						<xsd:element name="cislo" type="xsd:string"/>
						<xsd:element name="psc" type="xsd:string"/>
						<xsd:element name="obec" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="zastupca">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="priezvisko" type="xsd:string"/>
						<xsd:element name="meno" type="xsd:string"/>
						<xsd:element name="titul" type="xsd:string"/>
						<xsd:element name="titulZa" type="xsd:string"/>
						<xsd:element name="rodneCislo" type="xsd:string"/>
						<xsd:element name="ulica" type="xsd:string"/>
						<xsd:element name="cislo" type="xsd:string"/>
						<xsd:element name="psc" type="xsd:string"/>
						<xsd:element name="obec" type="xsd:string"/>
						<xsd:element name="stat" type="xsd:string"/>
						<xsd:element name="tel" type="xsd:string"/>
						<xsd:element name="email" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- telo dokumentu -->
	<xsd:complexType name="telo">
		<xsd:sequence>
			<xsd:element name="r27" type="only_0_1"/>
			<xsd:element name="r28" type="optDec"/>
			<xsd:element name="r29" type="manzel"/>
			<xsd:element name="r30">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="dieta" type="dieta" minOccurs="4" maxOccurs="20"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="r31viacAko4" type="only_0_1"/>
			<xsd:element name="r32" type="optDec"/>
			<xsd:element name="r32a" type="optDec"/>
			<xsd:element name="r33" type="optDec"/>
			<xsd:element name="r33a" type="optDec"/>
			<xsd:element name="r33b" type="optDec"/>
			<xsd:element name="r34" type="optDec"/>
			<xsd:element name="r35" type="optDec"/>
			<xsd:element name="r36" type="optDec"/>
			<xsd:element name="r37" type="optDec"/>
			<xsd:element name="r38" type="optDec"/>
			<xsd:element name="r39" type="optDec"/>
			<xsd:element name="r40" type="optDec"/>
			<xsd:element name="r41" type="optDec"/>
			<xsd:element name="r42" type="optDec"/>
			<xsd:element name="r43" type="optDec"/>
			<xsd:element name="r44" type="optDec"/>
			<xsd:element name="r45" type="optInt"/>
			<xsd:element name="r46" type="optDec"/>
			<xsd:element name="r47" type="optDec"/>
			<xsd:element name="r48" type="optDec"/>
			<xsd:element name="r49" type="optDec"/>
			<xsd:element name="r50" type="optDec"/>
			<xsd:element name="r51" type="optDec"/>
			<xsd:element name="r52" type="optDec"/>
			<xsd:element name="r53" type="optDec"/>
			<xsd:element name="r54" type="optDec"/>
			<xsd:element name="r55" type="optDec"/>
			<xsd:element name="r56" type="optDec"/>
			<xsd:element name="r57" type="optDec"/>
			<xsd:element name="r58" type="optDec"/>
			<xsd:element name="r59" type="optDec"/>
			<xsd:element name="r60" type="optDec"/>
			<xsd:element name="r61" type="optDec"/>
			<xsd:element name="r62" type="optDec"/>
			<xsd:element name="r63" type="optDec"/>
			<xsd:element name="r64" type="optDec"/>
			<xsd:element name="r65" type="optDec"/>
			<xsd:element name="r66" type="optDec"/>
			<xsd:element name="r67" type="optDec"/>
			<xsd:element name="r68" type="optDec"/>
			<xsd:element name="r69" type="optDec"/>
			<xsd:element name="r70" type="optDec"/>
			<xsd:element name="r71" type="optDec"/>
			<xsd:element name="r72" type="optDec"/>
			<xsd:element name="r73" type="optDec"/>
			<xsd:element name="r74" type="optDec"/>
			<xsd:element name="paragraf50" type="only_0_1"/>
			<xsd:element name="splnam3per" type="only_0_1"/>
			<xsd:element name="r75" type="optDec"/>
			<xsd:element name="r76">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ico" type="optInt"/>
						<xsd:element name="sid" type="optInt"/>
						<xsd:element name="pravnaForma" type="xsd:string"/>
						<xsd:element name="obchMeno">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="riadok" type="xsd:string" minOccurs="2" maxOccurs="2"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ulica" type="xsd:string"/>
						<xsd:element name="cislo" type="xsd:string"/>
						<xsd:element name="psc" type="xsd:string"/>
						<xsd:element name="obec" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="suhlasZaslat" type="only_0_1"/>
			<xsd:element name="osobitneZaznamy">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="uvadza" type="only_0_1"/>
						<xsd:element name="udajeOprijmoch" type="udajeOprijmoch" minOccurs="3" maxOccurs="20"/>
						<xsd:element name="zaznamy" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="r77" type="xsd:string"/>
			<xsd:element name="r78" type="optDec"/>
			<xsd:element name="r79" type="optInt"/>
			<xsd:element name="datumVyhlasenia" type="xsd:string"/>
			<xsd:element name="danovyPreplatokBonus">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="vyplatitDanovyBonus" type="only_0_1"/>
						<xsd:element name="vyplatitZamPremiu" type="only_0_1"/>
						<xsd:element name="vratitDanPreplatok" type="only_0_1"/>
						<xsd:element name="sposobPlatby" type="sposobPlatby"/>
						<xsd:element name="bankovyUcet" type="bankovyUcetType"/>
						<xsd:element name="datum" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="pomocneVypocty" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
